* {
    padding:0;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: rgb(255, 247, 247); */
    color: #374054;
}

html {
    scroll-behavior: smooth;
}

section {
    border-bottom: solid thin lightgray ;
}

.container-fluid {
    /* padding: 13% 6%; */
    padding: 8rem 15%;
}

/* Sections */
.section--title {
    padding-bottom: 35px;
    font-weight: bold;
    font-size: xx-large;
}

/* Header Section */
.header--all {
    text-align: center;
}

.header-image {
    width: 80px;
    border-radius: 50%;
    margin-top: 40px;
}

.header--name {
    font-size: 65px;
    font-weight: bold;
    padding-top: 6rem;  
}

.header--position {
    font-size: 30px;
    margin-bottom: 30px;
    /* text-align: center; */
    /* display: inline-block; */
}

.header--words {
    font-size: 20px;
    font-weight: lighter;
    /* text-align: center; */
    /* display: inline-block; */
}

.header-down-icon {
    display: block;
    color: lightgray;
    margin-top: 2%;
}

.header-down-icon:hover {
    color: rgb(179, 179, 179);
}


/* About section */
.about--title {
    padding-left: 0;
}


/* Project Section */
.project-row {
    margin: 20px 0;
    background-color: rgb(239, 250, 255);
}

.project--img-section {
    padding: 10px;
}

.img-thumbnail {
    height: 100%;  
}

.img-thumbnail:hover {
    opacity: 0.8;
    border: solid rgb(211, 213, 236);
    border-style: groove;
}

.project--view {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: large;
    font-weight: bold;
}

.project--link:hover {
    opacity: 0.8;
}


.project--title {
    margin: 30px 0 15px 0;
}

.project--description {
    margin-bottom: 35px;
}
/* 
.project--link:hover{
    opacity: 0.5;

} */


/* Resume Section */

.carousel-item {
    padding: 8% 20% 10% 20%;
    /* border: solid; */
}

.resume--skills {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: none;
}

.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-indicators {
  filter: invert(0.5);
}

.skill--header {
    padding: 3% 0;
    font-weight: bold;
}






/* Contact Section */
.contact--table {
    font-size: large;
}

.message {
    background-color: rgb(112, 112, 112);
    color: white;
    padding: 3% 4%;
    border-radius: 2%;
}

.form-title {
    text-align: center;
    padding: 2% 0;
    font-size: 20px;
    font-weight: bold;
}

.form-rows {
    margin-bottom: 2%;
    background-color: rgb(233, 233, 233);
}




/* Footer Section */

.footer {
    background-color: lightgray;
    border: none;
    padding: 4% 0 3% 0;
}

.footer-up-icon {
    color: rgb(255, 255, 255);
}

.footer-up-icon:hover {
    color: rgb(231, 231, 231);
}

.footer--links {
    list-style: none;
}

.footer--link {
    display:inline;
    padding-right: 6%;
}

.carousel .carousel-item {
    height: 600px;
  }